/*
 * Custom CSS For Timetable
*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: .938em;
    color: #60646c;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 1.618;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sched,
.sched *,
.sched-popup,
.sched-popup * {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.sched-wr:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sched-colwr-header {
    background: #e8e8e8;
    color: #efefef;
}
.sched-colwr-header:after {
    background: #ffffff;
}
.sched-cols .sched-colwr:last-child .sched-colwr-header:after {
    background: #e8e8e8;
}
.sched-colwr-bg-block {
    background: #ffffff;
    border-color: #e8e8e8;
}
.sched-colwr-bg-block:after {
    background: #f5f5f5;
}
.sched-colwr .sched-colwr-bg {
    background: #fff;
    width: 100%;
    height: 100%;
}
.sched-colwr .sched-colwr-bg .sched-colwr-bg-block {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    height: 49px;
    position: relative;
}
.sched-colwr .sched-colwr-bg .sched-colwr-bg-block:after {
    position: absolute;
    background: #f5f5f5;
    content: '';
    left: 0px;
    top: 50%;
    height: 1px;
    width: 100%;
}
.sched-colwr:first-child .sched-colwr-bg .sched-colwr-bg-block {
    border-left: 1px solid #e8e8e8;
}
.sched-wr-no-title .sched-colwr .sched-colwr-bg {
    box-shadow: 0 -1px 0 #e8e8e8;
}
.sched-title {
    color: #3f3f3f;
}
.sched-tvalue {
    color: #3f3f3f;
}
.sched-activity .sched-activity-inner {
    color: #ffffff;
    text-align: center;
}
.sched-activity.sched-activity-invert .sched-activity-inner {
    <!-- background: #999;
    -->
}
.sched-activity-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sched-popup-title{
    color:#efefef;
}
/*a.sched-activity.sched-activity-sort-hidden {
  opacity: 0;
}*/

.sched-sort .sched-sort-current .sched-sort-current-label {
    width: 120px;
}
.sched-sort.sched-sort-open .sched-sort-dropdown .sched-sort-current .sched-sort-current-label {
    width: 180px;
}
/*
 * Custom CSS Event Popup
*/

.popup .sched-popup-description {} .popup .sched-popup-description .sched-meta a,
.popup .sched-popup-description .sched-popup-description-text a {
    color: #18bc9c;
}
.popup .sched-popup-description .sched-meta,
.popup .sched-popup-description .sched-popup-description-text {
    color: #535353;
    background: #ffffff;
}
.sched-colwr .sched-colwr-content {
    position: absolute;
    top: 50px;
    /* table head height*/
    
    width: 100%;
    box-sizing: content-box !important;
}
.sched-wr {
    width: calc(100% - 272px);
    /* background-color: #fff; */
    
    margin: 40px;
}
a.sched-activity {
    position: absolute;
    top: 100px;
    height: 99px;
    z-index: 10;
    width: 100%;
    color: #fff !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-decoration: none !important;
    font-style: normal !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    transition: opacity .2s;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.sched-sidebar .sched-time .sched-tvalue {
    line-height: 14px;
    height: 14px;
    padding: 0 20px 36px 0;
    color: #3f3f3f;
    font-size: 14px;
    text-align: right;
    position: relative;
    top: -9px;
}
.sched-sidebar .sched-time .sched-tvalue {
    line-height: 14px;
    height: 14px;
    padding: 0 20px 36px 0;
    color: #efefef;
    font-size: 14px;
    text-align: right;
    position: relative;
    top: -9px;
}
.sched-sidebar {
    width: 100px;
    float: left;
    background: #34495e;
    text-transform: uppercase;
    font-size: 0.6em;
    text-align: center;
}
.sched-sidebar .sched-time {
    margin-top: 50px;
}
.sched-colwr {
    width: 20%;
    float: left;
    position: relative;
}
.sched-colwr .sched-colwr-header {
    font-size: 14px;
    background: #34495e;
    line-height: 18px;
    height: 18px;
    padding: 16px;
    text-align: center;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

/*
 * Popup fx
*/

.sched-popup-overlay {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999998;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
}
.sched-popup-overlay.sched-popup-overlay-show {
    display: block;
    animation-duration: 0.5s;
    animation-name: schedFadeOverlay;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: schedFadeOverlay;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: schedFadeOverlay;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: schedFadeOverlay;
    
    opacity: .5;
}
.sched-popup-overlay.sched-popup-overlay-hide {
    display: block;
    animation-duration: 0.5s;
    animation-name: schedFadeOverlayReverse;
    animation-direction: reverse;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: schedFadeOverlayReverse;
    -ms-animation-direction: reverse;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: schedFadeOverlayReverse;
    -moz-animation-direction: reverse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: schedFadeOverlayReverse;
    -webkit-animation-direction: reverse;
    /*opacity: ;*/
}


@keyframes schedFadeOverlay {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: .5;
    }
}

@-ms-keyframes schedFadeOverlay {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: .5;
    }
}

@-moz-keyframes schedFadeOverlay {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: .5;
    }
}

@-webkit-keyframes schedFadeOverlay {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: .5;
    }
}

@keyframes schedFadeOverlayReverse {
    0% {
        display: none ; 
        opacity: 0;
    }
    1% {
        display: block ; 
        opacity: 0;
    }
    100% {
        display:block; 
        opacity: .5;
    }
}

@-ms-keyframes schedFadeOverlayReverse {
    0% {
        display: none ; 
        opacity: 0;
    }
    1% {
        display: block ; 
        opacity: 0;
    }
    100% {
        display:block; 
        opacity: .5;
    }
}

@-moz-keyframes schedFadeOverlayReverse {
    0% {
        display: none ; 
        opacity: 0;
    }
    1% {
        display: block ; 
        opacity: 0;
    }
    100% {
        display:block; 
        opacity: .5;
    }
}

@-webkit-keyframes schedFadeOverlayReverse {
    0% {
        display: none ; 
        opacity: 0;
    }
    1% {
        display: block ; 
        opacity: 0;
    }
    100% {
        display:block; 
        opacity: .5;
    }
}

.sched-popup {
    position: absolute;
    width: 174px;
    /* width: 100px; */
    color: #535353;
    /* height: 85px; */
    top: 0;
    left: 0;
    z-index: 99999999;
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}
.sched-popup.sched-popup-done {
    box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}
.sched-popup .sched-popup-close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 18px;
    padding: 10px;
    text-align: center;
    z-index: 999999999;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    transition: opacity .2s;
    border-top-right-radius: 3px;
    display: block;
}
.sched-popup.sched-popup-done .sched-popup-close:hover {
    opacity: 1;
}

.sched-popup.sched-popup-done .sched-popup-close {
    opacity: .75;
}
.sched-popup .sched-popup-media {
    display: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sched-popup .sched-popup-media[data-media-type=youtube] {
    background: #000;
    position: relative;
}

.sched-popup .sched-popup-media[data-media-type=youtube] i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 16px;
}

.sched-popup .sched-popup-media img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    left: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 0 0 rgba(0,0,0,.25);
    padding: 0;
    margin: 0;
    display: block;
    border: none;
}

    .sched-popup .sched-popup-description {
        display: none;
        background: #fff;
        /*padding: 30px;*/
        /*padding-bottom: 16px;*/

        padding: 30px 30px 16px 30px;
        /*padding: 0 0 16px 0;*/
        padding: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .sched-popup p.sched-popup-description-text {
        font-family: 'Lato', sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 24px !important;
        padding: 0 !important;
        margin: 0 !important;
        padding: 30px 30px 30px 30px !important;
    }

    .sched-popup p.sched-popup-description-text.sched-event-no-description {
        display: none;
    }

    .sched-meta {
        /*margin-bottom: 16px;*/
        /*padding: 30px 30px 0 30px;*/
        /*background: #eee;*/
    }

        .sched-meta .sched-meta-field {
            /*background: red;*/
            /*margin-bottom: 16px;*/
            /*padding-bottom: 16px;*/
            /*border-bottom: 1px solid #eee;*/
            padding: 15px 30px 15px 30px;

            -webkit-transition: background .2s;
            -moz-transition: background .2s;
            -o-transition: background .2s;
            -ms-transition: background .2s;
            transition: background .2s;
        }

        .sched-meta .sched-meta-field:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .sched-meta .sched-meta-field:hover {
            /*background: #eee;*/
        }

            .sched-meta .sched-meta-field .sched-meta-icon {
                float: left;
                font-size: 20px;
                /*color: #666;*/
                text-align: center;
                width: 18px;
                margin-top: 14px;
            }

            .sched-meta .sched-meta-field .sched-meta-right {
                margin-left: 50px;
                /*color: #666;*/
            }

                .sched-meta .sched-meta-field .sched-meta-right .sched-meta-name {

                }

                .sched-meta .sched-meta-field .sched-meta-right .sched-meta-value {

                }


        .sched-meta .sched-meta-field.sched-meta-field-single {
            
        }

            .sched-meta .sched-meta-field.sched-meta-field-single .sched-meta-icon {
                margin-top: 0px;
            }


            .sched-meta .sched-meta-field.sched-meta-field-no-icon .sched-meta-right {
                margin-left: 0;
            }

            .sched-meta .sched-meta-field.sched-meta-field-no-icon .sched-meta-icon {
                display: none;
            }

